h4 a {
    color: purple;
}
.responses {
    background-color: purple;
    border: none;
    text-align: left;
}
#quiz-body p {
    margin-bottom: 2px;
    margin-right: 20%;
}
#timer {
    text-align: right;
}
#result {
    text-align: center;
    color: black;
    margin-top: 5px;
    font-weight: bold;
    font-size: 28px;
}
button {
    background-color: purple;
    color: white;
    border-left: 100px;
    margin-left: 20px;
}
#highscores {
    text-align: center;
    font-weight: bold;
    margin-top: 150px;
    padding-bottom: 15px;
}
.highScores {
    background-color:rgba(128, 0, 128, 0.2);
    text-align: center;
    width: auto;
    margin-left: 45%;
    margin-right: 45%;
    border-bottom-color: white;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    resize: horizontal;
}
#buttons {
    text-align: center;
}