h4 a {
    color: purple;
}
.responses {
    background-color: purple;
    border: none;
    text-align: left;
}
#quiz-body p {
    margin-bottom: 2px;
    margin-right: 20%;
}
#timer {
    text-align: right;
}
#result {
    text-align: center;
    color: black;
    margin-top: 5px;
    font-weight: bold;
    font-size: 28px;
}